body {
    background-color: black;
    background-image: url("../media/Tile.png");
}





/* styles the header */
header {
    position: relative;
    background-color: rgb(10, 100, 10);
    border-radius: 4px;
    height: 75px;
    margin-bottom: 8px;
}

/* styles the title on top */
header h1 {
    color: rgb(150,150,150);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}






/* styles the nav menu */
#nav-container {
    width:24%;/* resrved space on the X axis for when the "nav" element is in a fixed positoni. */
}
nav {
    position:fixed;
    width: 24%;
    height: 230px;
    background-color: rgb(50,50,50);
    border-radius: 4px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-top: 10px;
    margin-bottom: 2px;
}


/* styles the nav anchors to look more like buttons */
nav ul li a {
    display: block;
    position:relative;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(10,100,10);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
}



/* styles the current page link in the nav menu. */
#selected-nav-link {
    color: rgb(150,150,150);
    background-color: rgb(8,80,8);
    border-radius: 0px;
}


/* restyles the nav anchors on :hover */
nav ul li a:hover {
    background-color: rgb(8,80,8);
    color: rgb(150,150,150);
}



/* adds an animated line on hovered nav links */
nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;  
    height: 2px;
    bottom: 0;
    left: 0; 
    background-color: rgb(20,120,20);
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
nav ul li a:hover::before {
    height: 4px;
    transform: scaleX(1);
    transform-origin: top left;
    border-radius: 4px;
}



/* make the line permanent for the current page link on the nav menu */
#selected-nav-link::before {
    height: 4px;
    transform: scaleX(1);
    background-color: rgb(20,120,20);
}








/* styles the main element */
main {
    position: relative;
    width: 76%;
    height: 800px;
    background-color: rgb(50,50,50);
    margin-left: 10px;
    border-radius: 4px;
    overflow-y: auto;
}






/* styles the footer */
footer {
    color:rgb(150,150,150);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}